@keyframes gabaky-rotate-ball {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
}
@keyframes anim-ball-red-2 {
  0% {
    visibility: visible;
  }
  100% {
    visibility: visible;
    transform: translate(-1.6rem, -2em) rotate3d(-0.9, -0.9, -0.2, 10deg) rotate(-150deg);
  }
}
@keyframes anim-ball-yellow-2 {
  0% {
    visibility: visible;
  }
  100% {
    transform: translate(0.9rem, -9rem) rotate3d(-0.9, -0.9, -0.2, 10deg) rotate(540deg);
    visibility: visible;
  }
}
@keyframes anim-ball-red-3 {
  0% {
    visibility: visible;
  }
  100% {
    transform: translate(0.5rem, -5.3rem) rotate3d(-0.9, -0.9, -0.2, 10deg) rotate(540deg);
    visibility: visible;
  }
}
@keyframes anim-ball-yellow-3-1 {
  0% {
    visibility: visible;
  }
  100% {
    transform: translate(-0.8rem, -9.2rem) rotateX(20deg) rotate(-120deg);
    visibility: visible;
  }
}
@keyframes anim-ball-red-4 {
  0% {
    visibility: visible;
  }
  100% {
    transform: translate(-0.8rem, -9.2rem) rotate(-150deg);
    visibility: visible;
  }
}
@keyframes anim-ball-yellow-3-2 {
  0% {
    visibility: visible;
    transform: translate(-0.8rem, -9.2rem) rotate(-120deg);
  }
  100% {
    transform: translate(-1.1rem, -9.4rem) rotate(-135deg);
    visibility: visible;
  }
}
@keyframes anim-ball-yellow-4 {
  0% {
    visibility: visible;
  }
  100% {
    transform: translate(0.5rem, -7.4rem) rotateX(20deg) rotate(-180deg);
    visibility: visible;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 4.25vmin;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 100;
  line-height: 2rem;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 1rem;
}
h1 + p {
  font-size: 1.1rem;
  font-weight: 100;
  line-height: 1.3rem;
  opacity: 0.5;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
}

textarea, p, button {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
}

a {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
}

.btn {
  color: #fff;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 1.5rem;
  padding: 1rem 1.4rem 1rem 1.4rem;
  margin: 1rem 0rem;
  -webkit-tap-highlight-color: transparent;
  box-shadow: 0px 5px 4px #d7d7d7;
  font-weight: 500;
  opacity: 1;
  transition: all 340ms ease-out;
}
.btn:hover {
  opacity: 0.8;
  box-shadow: 0px 5px 4px #bebebe;
}

.header {
  display: flex;
  justify-content: center;
  padding: 4rem 4rem 2.6666666667rem 4rem;
}
.header__logo {
  height: 2rem;
}

.footer {
  padding: 4rem 4rem 6rem 4rem;
  background: #353535;
  color: white;
}
.footer__logo {
  height: 1.1rem;
}
.footer__logo path {
  fill: white;
}
.footer__link-with-icone img {
  width: 0.8rem;
  height: 0.8rem;
  filter: invert(100%);
  padding-right: 0.5rem;
}
.footer__link-with-icone--rotate img {
  transform: rotate(-20deg);
}

.picture img {
  width: 100%;
}

.picture__cible {
  width: 10rem;
  transform: rotate(90deg);
  z-index: 0;
}

.picture__ball {
  position: absolute;
}
.picture__ball--yellow {
  width: 0.9rem;
  transform: rotate(0deg);
}
.picture__ball--yellow-1 {
  bottom: 1rem;
  left: 5rem;
  z-index: 1;
}
.picture__ball--yellow-1 img {
  transform: rotate(90deg);
}
.picture__ball--yellow-2 {
  top: 12rem;
  left: 3rem;
  z-index: 3;
}
.picture__ball--yellow-2 img {
  visibility: hidden;
  animation: anim-ball-yellow-2 1800ms 2000ms cubic-bezier(0.05, 0.98, 0, 1) forwards;
}
.picture__ball--yellow-3 {
  top: 12rem;
  left: 6.5rem;
  z-index: 5;
}
.picture__ball--yellow-3 img {
  visibility: hidden;
  animation: anim-ball-yellow-3-1 2000ms 9s cubic-bezier(0.39, 0.94, 0.67, 0.99) forwards, anim-ball-yellow-3-2 500ms 13.2s cubic-bezier(0.39, 0.94, 0.67, 0.99) forwards;
}
.picture__ball--yellow-4 {
  top: 12rem;
  left: 6rem;
  z-index: 7;
}
.picture__ball--yellow-4 img {
  visibility: hidden;
  animation: anim-ball-yellow-4 1300ms 16s cubic-bezier(0.39, 0.94, 0.67, 0.99) forwards;
}
.picture__ball--red {
  width: 1rem;
  transform: rotate(0deg);
}
.picture__ball--red-1 {
  bottom: 6rem;
  right: 2rem;
  transform: rotate(165deg);
  z-index: 2;
}
.picture__ball--red-1 img {
  visibility: visible;
}
.picture__ball--red-2 {
  top: 3rem;
  left: 3.6rem;
  z-index: 4;
}
.picture__ball--red-2 img {
  visibility: visible;
  animation: anim-ball-red-2 1950ms 2420ms cubic-bezier(0.39, 0.94, 0.67, 0.99) forwards;
}
.picture__ball--red-3 {
  top: 12rem;
  left: 7rem;
  z-index: 6;
}
.picture__ball--red-3 img {
  visibility: hidden;
  animation: anim-ball-red-3 1200ms 5s cubic-bezier(0.39, 0.94, 0.67, 0.99) forwards;
}
.picture__ball--red-4 {
  top: 12.2rem;
  left: 6.6rem;
  z-index: 8;
}
.picture__ball--red-4 img {
  visibility: hidden;
  animation: anim-ball-red-4 1200ms 12.3s cubic-bezier(0.39, 0.94, 0.67, 0.99) forwards;
}

.animation-gabaky {
  position: relative;
  margin: 5rem;
  display: flex;
  width: 14rem;
  height: 10.5rem;
  justify-content: space-around;
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
