
.picture {
    & img {
        width:100%;
    }
}

.picture__cible {
    width:10rem;
    transform: rotate(90deg);
    z-index:0;
}

.picture__ball {
    position:absolute;
    &--yellow {
        width:0.9rem;
        transform: rotate(0deg);
        ;
        &-1 {
            bottom:1rem;
            left:5rem;
            z-index:1;
            & img {
            transform: rotate(90deg);
            }
        }
        &-2 {
            top:12rem;
            left:3rem;
            z-index:3;
            & img {
                visibility: hidden;
                animation: anim-ball-yellow-2 1800ms 2000ms cubic-bezier(.05,.98,0,1) forwards;
                } 
            
        }
        &-3 {
            top:12rem;
            left:6.5rem;
            z-index:5;
            & img {
                visibility: hidden;
                animation: anim-ball-yellow-3-1 2000ms 9s cubic-bezier(.39,.94,.67,.99) forwards,
                           anim-ball-yellow-3-2 500ms 13.2s cubic-bezier(.39,.94,.67,.99) forwards;;
                } 
        }
        &-4 {
            top:12rem;
            left:6rem;
            z-index:7;
            & img {
                visibility: hidden;
                animation: anim-ball-yellow-4 1300ms 16s cubic-bezier(.39,.94,.67,.99) forwards;
                } 
        }
    }
    &--red {
        width:1rem;
        transform: rotate(0deg);
        &-1 {
            bottom:6rem;
            right:2rem;
            transform: rotate(165deg);
            z-index:2;
            & img {
                visibility: visible;
                } 
        }
        &-2 {
            top:3rem;
            left:3.6rem;  
            z-index:4;
            & img {
                visibility: visible;
                animation: anim-ball-red-2 1950ms 2420ms cubic-bezier(.39,.94,.67,.99) forwards;
                }        
        }
        &-3 {
            top:12rem;
            left:7rem;
            z-index:6;
            & img {
                visibility: hidden;
                animation: anim-ball-red-3 1200ms 5s cubic-bezier(.39,.94,.67,.99) forwards;
                } 
        }
        &-4 {
            top:12.2rem;
            left:6.6rem;
            z-index:8;
            & img {
                visibility: hidden;
                animation: anim-ball-red-4 1200ms 12.3s cubic-bezier(.39,.94,.67,.99) forwards;
                } 
        }

        ;
    }
}

.animation-gabaky {
    position:relative;
    margin: 5rem;
    display:flex;
    width: 14rem;
    height:10.5rem;
    justify-content: center;
    overflow: hidden;
}

// .spin-loader-gabaky{
//     transform: translate(10rem,5rem) rotate(130deg);             
//     transition: transform 1s;   
//     width:30rem;  
// }
.picture-spin-loader__ball--red img {
    width:2.5rem;
    transform: rotate(270deg);              
    transition: transform 1s;   
}                


.spin-loader-gabaky {
display: flex;
justify-content: center;
align-items: center;
height: 4rem;
& .yellow-ball {
    width: 1.4rem;
    height: 1.4rem;
}

& .red-ball {
    width: 1.5rem;
    height: 1.5rem;
}

&-1 {
   & .ball {
        margin: 0 0.5rem;
        animation: 2s spin-loader-1 ease-in-out infinite;
        }
    & .red-1 {
        animation-delay: .25s;
        }
        
    & .yellow-2 {
    animation-delay: .5s;
    }
    
    & .red-2 {
    animation-delay: .75s;
    }
    }
&-2 {
    & .ball {
        margin: 0 0.5rem;
        animation: 2s spin-loader-2 ease-out infinite;
        }
    & .red-1 {
        animation-delay: .25s;
        }
        
    & .yellow-2 {
    animation-delay: .5s;
    }
    
    & .red-2 {
    animation-delay: .75s;
    }
}

&-3 {
    & .ball {
        margin: 0 0.5rem;
        animation: 2s spin-loader-3 ease-in-out infinite;
        }
    & .red-1 {
        animation-delay: .25s;
        }
        
    & .yellow-2 {
    animation-delay: .5s;
    }
    
    & .red-2 {
    animation-delay: .75s;
    }
}

&-4 {
    & .ball {
        margin: 0 0.5rem;
        animation: 2s spin-loader-3 cubic-bezier(.93,0,.01,.99) infinite;
        }
    & .red-1 {
        animation-delay: .25s;
    }
        
    & .yellow-2 {
        animation-delay: .5s;
    }
    
    & .red-2 {
        animation-delay: .75s;
    }
}

}

.spin-loader-gabaky-5 {
    display: block;
    height: 3rem;
    width: 3rem;
    margin:1rem 10rem;
    animation: spin-loader-5-rotate 2.0s infinite linear;

    & .ball-spinner-5 {
        width: 2rem;
        height: 2rem;
        display: block;
        position: absolute;
        border-radius: 50%;
        animation: spin-loader-5-bounce 2.0s infinite ease-in-out;
      }
    
    & .ball-spinner-5:nth-child(2) {
        top: auto;
        bottom: 0;
        animation-delay: -1.0s;
      }
  }


