@keyframes gabaky-rotate-ball{
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
}

@keyframes anim-ball-red-2{
    0% {
        visibility: visible; 
    }
    100% {
        visibility: visible; 
        transform: translate(-1.6rem, -2em) rotate3d(-0.9, -0.9, -0.2, 10deg) rotate(-150deg);
    }
}

@keyframes anim-ball-yellow-2{
    0% {
        visibility: visible;
    }
    100% {
        transform: translate(0.9rem, -9rem) rotate3d(-0.9, -0.9, -0.2, 10deg) rotate(540deg);
        visibility: visible;  
    }
}

@keyframes anim-ball-red-3{
    0% {
        visibility: visible;
    }
    100% {
        transform: translate(0.5rem, -5.3rem) rotate3d(-0.9, -0.9, -0.2, 10deg) rotate(540deg);
        visibility: visible;  
    }
    // bottom:2.1rem;
    //         right:5.5rem;
}

@keyframes anim-ball-yellow-3-1{
    0% {
        visibility: visible;
    }
    100% {
        transform: translate(-0.8rem, -9.2rem) rotateX(20deg) rotate(-120deg);
        visibility: visible;  
    }
}

@keyframes anim-ball-red-4{
    0% {
        visibility: visible;
    }
    100% {
        transform: translate(-0.8rem, -9.2rem) rotate(-150deg);
        visibility: visible;  
    }
}

@keyframes anim-ball-yellow-3-2{
    0% {  
        visibility: visible; 
        transform: translate(-0.8rem, -9.2rem) rotate(-120deg);
    }
    100% {
        transform: translate(-1.1rem, -9.4rem) rotate(-135deg);
        visibility: visible;  
    }
}

@keyframes anim-ball-yellow-4{
    0% {  
        visibility: visible; 
    }
    100% {
        transform: translate(0.5rem, -7.4rem) rotateX(20deg) rotate(-180deg);
        visibility: visible;  
    }
}

@keyframes throw-ball {
    0% {
        transform:translate(6rem,-2rem);
    }
    10% {
        transform:translate(10rem,-4rem);
    }
    20% {
        transform:translate(11.5rem,-3.5rem);
    }
    40% {
        transform:translate(13rem,-3rem);
    }
    60% {
        transform:translate(14.5rem,-2.5rem);
    }
    80% {
        transform:translate(16rem,-1rem);
    }
    100% {
        transform:translate(18rem,0rem); 
    }
}

@keyframes spin-loader-1 {  
    50% {
        transform: translateY(1rem) rotate(180deg) scale(0.8);
        transform-origin:50% 50%;
    }
}

@keyframes spin-loader-2 {  
    50% {
        transform: translateX(3.5rem) rotate(180deg) scale(0.9);
        transform-origin:50% 50%;
    }
}

@keyframes spin-loader-3 {  
    50% {
        transform: translate(0rem,1rem);
        transform-origin:50% 50%;
    }
}

@keyframes spin-loader-4 {  
    25% {
        transform: translate(4rem,-4rem) rotate(780deg);
        transform-origin:30% 50%;
    }

    40% {
        transform: translate(5rem,-6rem) rotate(780deg);
        transform-origin:30% 50%;
    }

    50% {
        transform: translate(8rem,0rem) rotate(780deg);
        transform-origin:90% 90%;
    }

    80% {
        transform: translate(8rem,0rem) rotate(780deg);
        transform-origin:90% 90%;
    }
}

@keyframes spin-loader-5-rotate {
    100% {
      transform: rotate(360deg);
      
    }
  }

  @keyframes spin-loader-5-bounce {
    0%, 100% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
    
  }