@keyframes gabaky-rotate-ball{
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
}

@keyframes gabaky-throw-ball{
    0% {
        transform: translate(0, 0);
    }
    80% {
        transform: translate(1rem, -1rem);
    }

    100% {
        transform: translate(1.5rem, -1.5rem);
    }
}

@keyframes anim-ball-red-2{
    0% {
    }
    100% {
        transform: translate(-1.6rem, -2em) rotate3d(-0.9, -0.9, -0.2, 10deg) rotate(150deg);
    }
}

@keyframes anim-ball-yellow-2{
    0% {
        visibility: visible;
    }
    80% {
        transform: translate(0.9rem, -9rem) rotate3d(-0.9, -0.9, -0.2, 10deg) rotate(540deg);
        visibility: visible;  
    }
    100% {
        transform: translate(0.9rem, -9rem) rotate3d(-0.9, -0.9, -0.2, 10deg) rotate(540deg);
        visibility: visible;  
    }
}

@keyframes anim-ball-red-3{
    0% {
        visibility: visible;
    }
    100% {
        transform: translate(0.5rem, -5.6rem) rotate3d(-0.9, -0.9, -0.2, 10deg) rotate(540deg);
        visibility: visible;  
    }
    // bottom:2.1rem;
    //         right:5.5rem;
}

@keyframes anim-ball-yellow-3-1{
    0% {
        visibility: visible;
    }
    80% {
        transform: translate(-0.8rem, -9.2rem) rotateX(20deg) rotate(-120deg);
        visibility: visible;  
    }
    100% {
        transform: translate(-0.8rem, -9.2rem) rotateX(20deg) rotate(-120deg);
        visibility: visible;  
    }
}

@keyframes anim-ball-red-4{
    0% {
        visibility: visible;
    }
    100% {
        transform: translate(-0.8rem, -9.2rem) rotate(-150deg);
        visibility: visible;  
    }
}

@keyframes anim-ball-yellow-3-2{
    0% {  
    }
    100% {
        transform: translate(-1.1rem, -9.4rem) rotateX(20deg) rotate(-180deg);
        visibility: visible;  
    }
}

@keyframes anim-ball-yellow-4{
    0% {  
    }
    100% {
        transform: translate(0.5rem, -7.4rem) rotateX(20deg) rotate(-180deg);
        visibility: visible;  
    }
}